h2 .title {
    text-align: center !important;
    font-size : 30px !important;
}

.Statistic {
    text-align     : center;
    display        : flex;
    flex-wrap      : wrap;
    margin-top     : 40px;
    justify-content: center;
}

.Statistic-logo {
    height        : 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Statistic-logo {
        animation: Statistic-logo-spin infinite 20s linear;
    }
}

.Statistic-header {
    background-color: #282c34;
    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    font-size       : calc(10px + 2vmin);
    color           : white;
}

.Statistic-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}